<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Fitness - dd</title>
    <style type="text/css">
        h1 {
            color: #16c89b;
        }
    </style>
</head>
<body>
<h1 align="center" >Daily Fitness</h1>
<div id="introduction">
    <h2>About Daily Fitness</h2>
    <h3>내게 맞는 Daily Fitness를 권장합니다.</h3><br></br>
    <img src="https://cdn.pixabay.com/photo/2016/11/22/22/25/abs-1850926__480.jpg" width="1000">
    <p align="left"> <strong>비용, 시간 때문에 운동을 못하는 사람!?</strong><br></br>비용이 부담되는 학생부터,<br>시간이 부담되는 직장인까지!</br><br><strong>내 일정에 맞추어 자유롭게 운동을 즐길 수 있습니다.</strong></br></p>
    <p align="right"> <strong>운동 부위마다 새로운 센터에 등록하는 사람!?</strong><br></br>요가는 요가원, 헬스는 헬스장<br>따로따로 등록하지 않아도!</br><br><strong>원하는 운동 목표에 맞추어 계획을 짜실 수 있습니다.</strong></br></p>
    </p>
    <a href="https://newsroom76.tistory.com/53">Learn More</a>
</div>
<div id="media">
    <h2>Media</h2>
    <video src="https://www.youtube.com/watch?v=3xI1Vue_XDo" width="300" height="200" controls></video>
</div>
</body>
</html>