<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Fitness - dd</title>
    <style type="text/css">
        h1 {
            color: #16c89b;
        }

        p {
            color: red;
        }
    </style>
</head>
<body>
<h1>Daily Fitness</h1>
<div id="introduction">
    <h2>About Daily Fitness</h2>
    <p>내게 맞는 Daily Fitness를 권장합니다.</p>
    <p><br><em> 시간, 비용 때문에 운동을 못한다고? </em><br></br> 비용이 부담되는 학생부터,<br>시간이 부담되는 직장인까지!</br><strong>내 일정에 맞추어 자유롭게 운동을 즐길 수 있습니다.</strong></p>
    <a href="https://newsroom76.tistory.com/53">Learn More</a>
</div>
<div id="media">
    <h2>Media</h2>
    <img src="https://cdn.pixabay.com/photo/2017/04/22/10/15/sport-2250970__480.jpg"
    <videdo src="https://www.youtube.com/watch?v=3xI1Vue_XDo" width="300" height="200" controls></videdo>
</div>
</body>
</html>