<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Fitness - dd</title>
    <style type="text/css">
        h1 {
            color: #16c89b;
        }
    </style>
</head>
<body>
<h1 align="center" >Daily Fitness</h1>
<div id="introduction">
    <h2>About Daily Fitness</h2>
    <h3>내게 맞는 Daily Fitness를 권장합니다.</h3><br></br>
    <img src=https://cdn.pixabay.com/photo/2017/04/22/10/15/sport-2250970__480.jpg width="1200" height="320">
    <p align="left"> <strong>비용, 시간 때문에 운동을 못하는 사람!?</strong><br></br>비용이 부담되는 학생부터,<br>시간이 부담되는 직장인까지!</br><br><strong>내 일정에 맞추어 자유롭게 운동을 즐길 수 있습니다.</strong></br></p>
    <p align="right"> <strong>운동 부위마다 새로운 센터에 등록하는 사람!?</strong><br></br>요가는 요가원, 헬스는 헬스장<br>따로따로 등록하지 않아도!</br><br><strong>원하는 운동 목표에 맞추어 계획을 짜실 수 있습니다.</strong></br></p>
    </p>
    <a href="https://newsroom76.tistory.com/53">Learn More</a>
</div>
<div class="section_navbar">
		<div class="area_navigation" role="navigation">
			<ul class="an_l">
				<li class="an_item">
					<a href="https://mail.naver.com/" class="an_a mn_mail" data-clk="svc.mail">
						<span class="an_icon"></span><span class="an_txt">메일</span>
					</a>
				</li>
				<li class="an_item">
					<a href="https://section.cafe.naver.com/" class="an_a mn_cafe" data-clk="svc.cafe">
						<span class="an_icon"></span><span class="an_txt">카페</span>
					</a>
				</li>
				<li class="an_item">
					<a href="https://section.blog.naver.com/" class="an_a mn_blog" data-clk="svc.blog">
						<span class="an_icon"></span><span class="an_txt">블로그</span>
					</a>
				</li>
				<li class="an_item">
					<a href="https://kin.naver.com/" class="an_a mn_kin" data-clk="svc.kin">
						<span class="an_icon"></span><span class="an_txt">지식인</span>
					</a>
				</li>
				<li class="an_item">
					<a href="https://shopping.naver.com/" class="an_a mn_shopping" data-clk="svc.shopping">
						<span class="an_icon"></span><span class="an_txt">쇼핑</span>
					</a>
				</li>
				<li class="an_item">
					<a href="https://order.pay.naver.com/home" class="an_a mn_checkout" data-clk="svc.pay">
						<span class="an_icon"></span><span class="an_txt">네이버페이</span>
					</a>
				</li>
				<li class="an_item">
					<a href="https://tv.naver.com/" class="an_a mn_tvcast" data-clk="svc.tvcast">
						<span class="an_icon"></span><span class="an_txt">네이버TV</span>
					</a>
				</li>
			</ul>
			<ul id="PM_ID_serviceNavi"  class="an_l">
				<li class="an_item"><a href="https://dict.naver.com/" class="an_a mn_dic" data-clk="svc.dic"><span class="an_icon"></span><span class="an_txt">사전</span></a></li>
<li class="an_item"><a href="https://news.naver.com/" class="an_a mn_news" data-clk="svc.news"><span class="an_icon"></span><span class="an_txt">뉴스</span></a></li>
<li class="an_item"><a href="https://finance.naver.com/" class="an_a mn_stock" data-clk="svc.stock"><span class="an_icon"></span><span class="an_txt">증권(금융)</span></a></li>
<li class="an_item"><a href="https://land.naver.com/" class="an_a mn_land" data-clk="svc.land"><span class="an_icon"></span><span class="an_txt">부동산</span></a></li>
<li class="an_item"><a href="https://map.naver.com/" class="an_a mn_map" data-clk="svc.map"><span class="an_icon"></span><span class="an_txt">지도</span></a></li>
<li class="an_item"><a href="https://movie.naver.com/" class="an_a mn_movie" data-clk="svc.movie"><span class="an_icon"></span><span class="an_txt">영화</span></a></li>
<li class="an_item"><a href="https://music.naver.com" class="an_a mn_music" data-clk="svc.music"><span class="an_icon"></span><span class="an_txt">뮤직</span></a></li>
<li class="an_item"><a href="https://book.naver.com/" class="an_a mn_book" data-clk="svc.book"><span class="an_icon"></span><span class="an_txt">책</span></a></li>
<li class="an_item"><a href="https://comic.naver.com/" class="an_a mn_comic" data-clk="svc.webtoon"><span class="an_icon"></span><span class="an_txt">만화 / 웹툰</span></a></li>

			</ul>
<div id="media">
    <h2>Media</h2>
    <video src="https://www.youtube.com/watch?v=3xI1Vue_XDo" width="300" height="200" controls></video>
</div>
</body>
</html>